.product-detail-pic {
    overflow: hidden;
}

.product-details-pic-left {
    width: 22%;
    max-height: 574px;
    float: left;
    overflow-y: auto;
}
.btn-size {
    border: 1px solid #999;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    font-size: 14px;
    margin-right: 7px;
}
